<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type=
        "Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
        Microsoft.Practices.Unity.Configuration" />
    </configSections>
    <unity>
        <!--
        <namespace name="Training_Unity_Helloworld" />
        <assembly name="Training-Unity_Helloworld" />
        <container>
            <register type="IHelloWorld" mapTo="HelloWorld" />
            <register type="IHelloWorld" mapTo="HelloWorldCHT" name="CHT" />
        </container>
        -->
        <container>
            <!--
            <register 
            type= namespace.interface,assembly
            mapTo = namespace.class,assembly
            />
            -->
            <register 
            type="Training_Unity_Helloworld.IHelloWorld,Training-Unity_Helloworld"
            mapTo="Training_Unity_Helloworld.HelloWorld,Training-Unity_Helloworld" />
            <register 
            type="Training_Unity_Helloworld.IHelloWorld,Training-Unity_Helloworld"
            mapTo="Training_Unity_Helloworld.HelloWorldCHT,Training-Unity_Helloworld" 
            name="CHT" />
        </container>
    </unity>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>